h1 {
    
    font-weight: 800 !important;
}

h2 {
    font-weight: 500 !important;
    color: #3f51c6  !important;
}

h3 {
    font-size: 0.8rem !important;
    color: #9c27b0;
}

a:link,a:hover {
    color: #5887dc !important;
}

.md-header {
    color: white !important;
    background:grey !important;
}